@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@* @attribute [Authorize] *@
@rendermode InteractiveServer

<PageTitle>Dashboard - Notes App</PageTitle>

<!-- DEBUG: Test navigation without authorization -->
<div class="alert alert-info m-3">
    <h4>Dashboard Page Loaded Successfully!</h4>
    <p>If you see this, the navigation is working. The issue was with authorization.</p>
</div>


